body {
    min-height: 100vh;
    background: radial-gradient(
        circle,
        #b8b7b9 0%,
        #8e8d8f 30%,
        #5a5a5b 60%,
        #3a3a3b 100%
    );
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


/* HEADER */

nav{
    height: 75px;
}
.png_home_button {
    width: 35px;
}
.home_button{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 2em;
    justify-content: space-between;
}
.home_button span{
    color: white;
}
.png_search_button{
    position: absolute;
    right: 60px;
    width: 35px;
}
#input-pesquisa{
    display: flex;
    width: 30em;
    margin-right: 3em;
    position: relative;
}
#search-bar{
    background-color: #b3adad;
}


/* CARROSSEL */

.carousel-inner{
    width: 95%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
}

.carousel-inner img{
    object-fit: cover;
    height: 40em;
    width: 100%;
}

.carousel-caption{
    background-color: rgba(43, 43, 43, 0.6); 
    left: 0;
    right: auto ;
    width: auto ;
    padding: 1em 3em;
    margin-left: 2em;
    margin-bottom: 1em;
    display: inline-block;
    position: absolute; 
    bottom: 1em; 
}
.carousel-caption h1{
    font-weight: bold;
    margin: 0;
    max-width: 100%;
}

.carousel-control-next-icon{
    width: 4em;
    height: 4em;
    border-radius: 10px;
    background-image: url('Imagens/next.png');
    transform: rotate(90deg);
    background-color: rgba(43, 43, 43, 0.6);  
}
.carousel-control-prev-icon{
    width: 4em;
    height: 4em;
    border-radius: 10px;
    background-image: url('Imagens/next.png');
    transform: rotate(270deg);
    background-color: rgba(43, 43, 43, 0.6);  
}


/* BOTOES */

.menu-buttons{
    width: 95%;
    margin: 3em auto;
    background-color: rgba(197, 197, 197, 0.4);
}
.botoes{
    padding: 1em 0 2em 0;
    display: flex;
    justify-content: center;
    gap: 10em;
}
.menu-buttons h1{  
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
}
.botoes button{
    height: auto;
    font-weight: bold;
    font-size: 25px;
    width: 10em;
    background: #2b2929;
}


/* LEADERBOARD */
.leaderboard{
    width: 95%;
    margin: 0 auto;
}
.leaderboard h1{
    color: black;
    font-weight: bold;
}

.star{
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 5px;
}

#tabela-rank,
#tabela-rank th,
#tabela-rank td,
#tabela-rank thead,
#tabela-rank tbody,
#tabela-rank tr{
    background: #2b2929;
}
#tabela-rank tr{
    height: 3em;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.titulo-rank{
    text-align: left;
}
#tabela-rank th{
    padding-top: 1em;
}


/* FOOTER */

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 60px; 
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-copy {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 40px;
}

/* LISTA FILMES PAGE */

.titulo-lista{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background-color: #ccc;
    font-size: 45px;
    font-weight: bold;
    padding: 0 5em;
    border-radius: 50px;
}

.cards {
  flex-grow: 1;
  min-height: 70vh; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px)); 
  justify-content: center; 
  gap: 2rem;
  max-width: 1000px; 
  margin: 0 auto;
  padding: 2rem;
}

.cards > .alert {
  align-self: center;   
  flex-grow: 0;        
  height: auto;        
  margin: auto;         
}

.card {
  background-color: rgba(43, 43, 43, 0.6); 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 0 ;
}

.titulo-card {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
    padding: 0 25px;
}

.imagem-card {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
}

.imagem-card img {
  width: 100%;        
  height: 100%;      
  object-fit: cover;   
  display: block;
}

.descricao-card{
    width: 85%;
    border-radius: 20px;
  font-size: 20px;
  background-color: #979797;
  color: #000000;
  margin: 2rem 0;
     height: 300px; 
     padding: 2px;
}

.buttons-card{
    display: flex;
    flex-direction: column;
}


.mais-info, .editar-filme {
  background-color: #2b2929;
  border: none;
  color: white;
  width: 200px;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
}

.mais-info:hover, .editar-filme:hover {
  background-color: #444;
}

.mais-info a, .editar-filme a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: block;
}

/* SOBRE */

.main-sobre{
 margin: 100px;
}

.titulo-sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 100px;
  color: #000000;
}

.titulo-sobre div {
  font-size: 35px;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 5px;
}

.titulo-sobre img {
  width: 30px;
  height: 30px;
}

.conteudo {
  display: flex;
  gap: 20px;
}

.imagem-config {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem-config img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.imagem-config p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
  align-self: flex-start;
}

.editar-filme-sobre {
  background-color: #333;
  width: 100%;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: 25px;
    text-decoration: none;
  color: white;
  text-align: center;
}


.editar-filme-sobre:hover {
  background-color: #555;
}

.informacoes {
  flex: 1;
}

.info-1 {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 10px;
}

.avaliacao-1 {
  display: flex;
  align-items: center;
}

.avalicao-net {
  background-color: #4a4a4a;
  color: white;
  padding: 10px 14px;
  border-radius: 50px;
  width: 200px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.avalicao-net img {
  width: 40px;
  height: 40px;
}

.classificacao {
  font-size: 40px;
  color: #000000;
}

.classificacao span {
  font-weight: bold;
}

.info-2 {
  font-size: 25px;
  line-height: 1.6;
  color: #000000;
}

.info-2 p:nth-child(2), .info-2 p:nth-child(1){
  font-weight: bold;
}

.info-2 p b{
    margin-right: 5px;
}
.info-2 p:nth-child(3) {
  text-align: justify;
}

.separa-sobre{

  border-top: 5px solid #000000;
  margin: 50px 0;
}


/* CADASTRO - utilizado bootstrap e estilização rapida inline */

.form-control, .upload-box{
  background-color: #c5c5c5;
}

.text-muted{
  z-index: 1;
}
.input-imagem{
  opacity: 0;
   position: absolute; 
   width: 100%; 
   height: 100%;

  }

/* EDITAR CADASTRO */

.crud-sobre{
  margin-top: 70px;
}

.crud-sobre div button{
  font-size: 20px;
  width: 100%;
}

label{
  font-size: 20px;
}
#nome-crud{
  color: #000000;
}


